.ghc.environment*
cabal.project.local
cabal.project.freeze
.stack-work/
dist-newstyle/
result*
*.swp
*.lock
**/.DS_Store
*.pt
!.gitignore
!raw
!external
!preprocessed
!interim

python/munger/notebooks/images/*
